{{> header}}

<div class="container" id="dashboard">

	{{> side-nav}}

	<main>
		{{!-- <div class="dashboard-info">
			<p>gebruiker: {{req.session.userName}}</p>
			<h1>{{title}}</h1>
		</div> --}}

		<div class="dashboard-container">

			<div class="dashboard-col">
				<div class="dashboard-col-header">
					<h2>Recente projecten</h2>
				</div>
				{{#each recentProjects}}
				<a class="dashboard-tile" href="/projects/{{_id}}">
					<div class="project-logo" style="background-image: url('http://iamcore.nl/wp-content/uploads/2016/05/AC.png')"></div>
					<h2>{{name}}</h2>
					{{!-- <p>{{date}}</p> --}}
				</a>
				{{/each}}
			</div>

			<div class="dashboard-col">
				<div class="dashboard-col-header">
					<h2>Belangrijke projecten</h2>
				</div>
			</div>

			<div class="dashboard-col">
				<div class="dashboard-col-header">
					<h2>nieuwe projecten</h2>
				</div>
			</div>

		</div>
	</main>
</div>
