{{> header}}

<div class="container" id="manage">

	{{> side-nav}}

	<main>
		<div class="dashboard-info">
			{{!-- <p>gebruiker: {{req.session.username}}</p>
			<h1>{{title}}</h1> --}}
			<a href="{{url}}/create">
				<div class="button">
					<p>Maak nieuw account aan</p>
				</div>
			</a>
		</div>

		<div id="full-color" class="tile-container">

			{{#each accounts}}
				{{#if (ifEqual permissionId 1)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}} - niveau {{permissionId}}</h3>
						</div>
					</a>
				{{/if}}
			{{/each}}
			{{#each accounts}}
				{{#if (ifEqual permissionId 2)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}} - niveau {{permissionId}}</h3>
						</div>
					</a>
				{{/if}}
			{{/each}}
			{{#each accounts}}
				{{#if (ifEqual permissionId 3)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}} - niveau {{permissionId}}</h3>
						</div>
					</a>
				{{/if}}
			{{/each}}
			{{#each accounts}}
				{{#if (ifEqual permissionId 4)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}} - niveau {{permissionId}}</h3>
						</div>
					</a>
				{{/if}}
			{{/each}}
			{{#each accounts}}
				{{#if (ifEqual permissionId 5)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}} - niveau {{permissionId}}</h3>
						</div>
					</a>
				{{/if}}
			{{/each}}
			{{#each accounts}}
				{{#if (ifEqual permissionId 6)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}} - niveau {{permissionId}}</h3>
						</div>
					</a>
				{{/if}}
			{{/each}}

		</div>

		<div id="no-color" class="hidden tile-container">

			{{#each accounts}}
				{{#if (ifEqual permissionId 1)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}}</h3>
							<div class="circle n-{{permissionId}}">
								<p>{{permissionId}}</p>
							</div>
						</div>
					</a>
				{{/if}}
			{{/each}}
			{{#each accounts}}
				{{#if (ifEqual permissionId 2)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}}</h3>
							<div class="circle n-{{permissionId}}">
								<p>{{permissionId}}</p>
							</div>
						</div>
					</a>
				{{/if}}
			{{/each}}
			{{#each accounts}}
				{{#if (ifEqual permissionId 3)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}}</h3>
							<div class="circle n-{{permissionId}}">
								<p>{{permissionId}}</p>
							</div>
						</div>
					</a>
				{{/if}}
			{{/each}}
			{{#each accounts}}
				{{#if (ifEqual permissionId 4)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}}</h3>
							<div class="circle n-{{permissionId}}">
								<p>{{permissionId}}</p>
							</div>
						</div>
					</a>
				{{/if}}
			{{/each}}
			{{#each accounts}}
				{{#if (ifEqual permissionId 5)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}}</h3>
							<div class="circle n-{{permissionId}}">
								<p>{{permissionId}}</p>
							</div>
						</div>
					</a>
				{{/if}}
			{{/each}}
			{{#each accounts}}
				{{#if (ifEqual permissionId 6)}}
					<a href="{{../url}}/{{_id}}">
						<div icn-user="{{name}}" class="icn-card n-{{permissionId}}">
							<div class="image" style="background-image: url('{{#if profilePicture}}{{profilePicture}}{{else}}http://www.freeiconspng.com/uploads/profile-icon-png-profiles-13.png{{/if}}')"></div>
							<h2>{{fullName}}</h2>
							<h3>{{roll}}</h3>
							<div class="circle n-{{permissionId}}">
								<p>{{permissionId}}</p>
							</div>
						</div>
					</a>
				{{/if}}
			{{/each}}

		</div>
		<p id="swich">(kleur)</p>


	</main>
</div>

<script type="text/javascript">
	document.getElementById('swich').addEventListener('click', function () {
		document.getElementById('full-color').classList.toggle('hidden')
		document.getElementById('no-color').classList.toggle('hidden')
	});
</script>
