{{> header}}

<div class="container" id="projects">

	{{> side-nav}}

	<main>
		<div class="dashboard-info">
			<p>gebruiker: {{req.session.username}}</p>
			<h1>{{title}}</h1>
			<a href="{{req.originalUrl}}/create">Nieuw project aanmaken</a>
		</div>

		<div class="tile-container">

			{{#each projects}}
			<div class="tile">
				<div class="project-logo" style="background-image: url('{{projectImage}}')"></div>
				<h1>{{name}}</h1>
			</div>
			{{/each}}

		</div>
	</main>
</div>
